{% extends "::base.html.twig" %}

{% block body %}
    <h1 class="page-header">Lista produktów</h1>
    <div class="row">

        {% for product in products %}
            <div class="col-md-6">
                <div class="col-md-4">
                    <a class="thumbnail">
                        <img src="{{ asset(product.getWebPath()) }}" alt="{{ product.name }}"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>Nazwa</dt>
                        <dd>{{ product.name }}</dd>

                        <dt>Cena</dt>
                        <dd>{{ product.price | number_format(2, ',', ' ') }} zł</dd>

                        <dt>Aktualny stan:</dt>
                        <dd>{{ product.amount }}</dd>

                    </dl>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}