{% extends "::base.html.twig" %}

{% block body %}
    <h1 class="page-header">Lista produktów</h1>

    {% for product in products %}
        {% if loop.index % 2 == 0 %}
            <div class="row">
        {% endif %}

        <div class="col-md-2">
            <a class="thumbnail">
                <img src="{{ asset(product.getWebPath()) }}" alt="{{ product.name }}"/>
            </a>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>Nazwa</dt>
                <dd>{{ product.name }}</dd>

                <dt>Cena</dt>
                <dd>{{ product.price | number_format(2, ',', ' ') }} zł</dd>

                <dt>Aktualny stan:</dt>
                <dd>{{ product.amount }}</dd>

            </dl>
        </div>
        {% if loop.index % 2 == 0 %}
            </div>
        {% endif %}

    {% endfor %}


{% endblock %}